
@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter/static/Bitter-ExtraBoldItalic.woff2') format('woff2'), url('fonts/Bitter-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter/static/Bitter-Regular.woff2') format('woff2'), url('fonts/Bitter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter/static/Bitter-MediumItalic.woff2') format('woff2'), url('fonts/Bitter-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter/static/Bitter-SemiBoldItalic.woff2') format('woff2'), url('fonts/Bitter-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter/static/Bitter-LightItalic.woff2') format('woff2'), url('Bitter-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter/static/Bitter-Light.woff2') format('woff2'), url('fonts/Bitter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter/static/Bitter-Medium.woff2') format('woff2'), url('fonts/Bitter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter/static/Bitter-SemiBold.woff2') format('woff2'), url('fonts/Bitter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html,body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
	font-size: 16px;
	font-family: bitter, serif;
    font-weight: 500;
    line-height: 1.5em;
 
}
h1{
	font-family: chaloops, sans-serif;
	font-weight: 900;
	font-size: 7.5625em ;
    line-height: 1em;
	margin: 0;    
}
h2{
	font-weight: 600;
    font-size: 2.875em;
    line-height: 1.5em;
    margin: 0;
}
h3{
	font-weight: 400;
    font-size: 2em;
}
.bigger{
	font-size: 1.3125em;
    line-height: 1.5em;
}
img,
video{
    height: 100%;
	width: 100%;
    object-fit: cover;
    display: block;
}
/*::-webkit-scrollbar{
    display: none;
}*/

.text{
   flex: 35% 1 0;
}
main {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    height: 100vh;
   
}
section{
    min-width: 100vw;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    padding-top: 20vh;
    padding-bottom: 5vh;
    box-sizing: border-box;
    border: 10px solid #c500ff80;
}









.screen#one{
    background: url(links/unslash-Background.jpeg) no-repeat;
    background-size: cover;
    background-position: bottom center;
}
.screen#one .header-text{
    max-width: 950px;
    margin-right: 5em;
    margin-left: auto;
}
.screen#one .header-text h1{
    margin-top: 1em;
    text-shadow: 3px 3px 0px #000;
    letter-spacing: -13px;
    line-height: 1em;
}
.screen#one .header-text h2{
    font-weight: 400;
    text-align: right;
    padding-right: 20%;
}
.screen#two{
    background: url(links/test.png) no-repeat left;
    background-size: cover ;
    display: flex; 
    padding-bottom: 0;
}
.screen#two .foto{
    flex: 40% 0 0;
    order: 1;
}
.screen#two .text{
    order: 2;
    margin: 0 4em ;
}
.screen#three{
   overflow-x: scroll;
}

.screen#three .text{
    position: sticky;
    left: 0;
}
.screen#three .gallery{
    display: flex;
    width: auto;
    gap: 1em;
    overflow: hidden;
}
.screen#three .gallery .square-container > *:first-child{
    margin-bottom: 1em;
}
.screen#four{
    padding-bottom: 0;
}

.screen#three .gallery{
    flex-wrap: nowrap;
    height: calc(100% - 20%);
    width: 200vw;
}
.screen#three .rectangle-container,
.screen#three .square-container{
    width: 40vw;
}
.screen#three .gallery .square-container img,
.screen#three .gallery .square-container video{
    height: calc(50% - 0.5em);
}

.screen#four{
    display: flex;
}
.screen#four .text{
    flex: 20% 0 0;
    padding:0 2em;
}
.screen#four .foto{
    flex: 45% 1 0;
}



@media all and (max-width: 1000px){
    body{
        font-size: 95%;
    }
    h1{
        font-size: 5em;
    }
    h2{
        font-size: 2.4em;
    }
    h3{
        font-size: 1.5em;
    }
    main{
        display: block;
        width: 100vw;
        overflow-y: scroll;
   }
    .text{
        padding: 1em !important;
    }
    .screen{
        height: auto;
        padding: 0;
    }
    .screen#one{
        padding: 1em;
        height: 100vh;
    }
    .screen#one .header-text{
        margin: 0; 
        padding-top: 30vh; 
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .screen#one .header-text h1{
        letter-spacing: -5px;
    }
    .screen#one .header-text h3{
        margin: 0;
    }
    .screen#two {
        background-image: none;
        display: block;
        padding: 0;
    }  
    .screen#two img{
        height: 30vh;
    }
    .screen#two .text{
        margin: 0;
    }
    .screen#three .gallery{
        flex-wrap: wrap;
        justify-content: space-between;
        width: auto;
    }
    .screen#three .gallery .rectangle-container,
    .screen#three .gallery .square-container{
        flex: 45% 1 0;
    }
    .screen#four{
        display: block;
    }
}

@media all and (max-width: 768px){
    h1{
        font-size: 3.6em;
    }
    .screen#one .header-text h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 1.5em;
    }
    .screen#one {
        padding: 1em;
    }
}
