
@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter-ExtraBoldItalic.woff2') format('woff2'), url('fonts/Bitter-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter-Regular.woff2') format('woff2'), url('fonts/Bitter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter-MediumItalic.woff2') format('woff2'), url('fonts/Bitter-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter-SemiBoldItalic.woff2') format('woff2'), url('fonts/Bitter-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter-LightItalic.woff2') format('woff2'), url('Bitter-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter-Light.woff2') format('woff2'), url('fonts/Bitter-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter-Medium.woff2') format('woff2'), url('fonts/Bitter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bitter';
    src: url('fonts/Bitter-SemiBold.woff2') format('woff2'), url('fonts/Bitter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html,body{
    padding: 0;
    margin: 0;
}

body{
	font-size: 16px;
	font-family: bitter, serif;
    font-weight: 500;
    line-height: 1.5em;
    overflow-x: hidden;
}
h1{
	font-family: chaloops, sans-serif;
	font-weight: 900;
	font-size: 7.5625em ;
    line-height: 1em;
	margin: 0;    
}
h2{
	font-weight: 600;
    font-size: 2.875em;
    line-height: 1.5em;
    margin: 0;
}
h3{
	font-weight: 400;
    font-size: 2em;
}
.bigger{
	font-size: 1.3125em;
    line-height: 1.5em;
}
img,
video{
	height: 100%;
	width: 100%;
    object-fit: cover;
    display: block;
}
::-webkit-scrollbar{
    display: none;
}





.screen#one{
    background: url(links/unslash-Background.jpeg) no-repeat ;
    background-size: cover;
    height: 100vh;
}
.screen#one .header-text{
    max-width: 950px;
    margin-right: 5em;
    margin-left: auto;
}
.screen#one .header-text h1{
    margin-top: 1em;
    text-shadow: 3px 3px 0px #000;
    letter-spacing: -13px;
    line-height: 1em;
}
.screen#one .header-text h2{
    font-weight: 400;
    text-align: right;
    padding-right: 20%;
}
.screen#three .gallery{
    display: flex;
    width: auto;
    gap: 1em;
    overflow: hidden;
}
.screen#three .gallery .square-container > *:first-child{
    margin-bottom: 1em;
}





@media all and (min-width: 1000px){
    .outer-wrapper {
        width: 100vh;
        height: 100vw;
        margin: 0;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        scrollbar-width: none ;
        -ms-overflow-style: none;
    }
    .wrapper {
        height: 100vh;
        width: 560vw;
        display: flex;
        flex-direction: row;
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
    }
    .screen{
        width: 100vw;
        height: 75vh;
        padding-top: 20vh;
        padding-bottom: 5vh;
    }
    .text{
        flex: 35% 0 0;
    }
    .screen#one{
        padding:0;
    }
    .screen#one .header-text{
        padding-top: 10em;
    }
    .screen#two,
    .screen#four{
        height: 80vh;
    }
    .screen#two{
        background: url(links/test.png) no-repeat left;
        background-size: contain ;
        display: flex; 
        gap: 3em;
    }
    .screen#two .foto{
        flex: 40% 0 0;
        order: 1;
    }
    .screen#two .text{
        order: 2;
    }
    .screen#three{
        width: 260vw;
    }
    .screen#three .gallery{
        flex-wrap: nowrap;
        height: calc(100% - 20%);
    }
    .screen#three .rectangle,
    .screen#three .square-container{
        min-width: 28vw;
        max-width: 35vw;
    }
    .screen#three .gallery .square-container img,
    .screen#three .gallery .square-container video{
        height: calc(50% - 0.5em);
    }
    .screen#four{
        display: flex;
    }
    .screen#four .text{
        flex: 20% 0 0;
        padding:0 2em;
    }
    .screen#four .foto{
        flex: 45% 1 0;
    }
}





@media all and (max-width: 1000px){
    body{
        font-size: 95%;
    }
    .text{
        padding: 2em;
    }
    .screen#one{
        padding: 3em;
    }
    .screen#one .header-text{
        margin: 0;  
    }
    .screen#one .header-text h1{
        font-size: 5em;
        text-align: right;
        letter-spacing: -5px;
    }

    .screen#one .header-text h3{
        margin: 0;
    }
  
    .screen#two img{
        height: 30vh;
    }
    .screen#three .gallery{
        flex-wrap: wrap;
        justify-content: space-between;
    }
   .screen#three .gallery .square-container{
         height: 100%;
        flex: 48% 0 1;
   }
   .screen#three .gallery .rectangle-container{
        flex: 48% 0 1;
   }
   .screen#four{
        display: flex;
        flex-wrap: wrap;
   }

   .screen#four .text h2{
    flex: 100% 0 0;
   }
   .screen#four .text p{
    flex: 50% 0 0;
   }

}

