body{
	margin: 0;
	font-family: "Helvetica Neue";
	letter-spacing: 1px;
	line-height: 30px;
	font-size: 25px;
}
h1,h2,h3{
	font-family: chaloops,sans-serif;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0;
	
}
h1{
	line-height: 2.5em;
}
h2{
	font-size: 1.5em;
}

/*Horizontal slider*/

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  margin: 0;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none ;
  -ms-overflow-style: none;
  background: rosybrown;
}
.wrapper {
	height: 100vh;
	width: 500vw;
  display: flex;
  flex-direction: row;
  background: green;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  background: url(links/background.png) no-repeat;
  background-size: auto 100% ;
}
.slide {
  width: 100vw;
  height: 90vh;
  border-top: 5vh solid purple;
  border-bottom: 5vh solid yellow;
  
}
.one {
	background: rgba(255, 34, 9, 0.25);
}
.two {
  background: rgba(9, 255, 105, 0.25);
}
.three {
 	background: rgba(72, 9, 255, 0.25);
}
.four {
  background: rgba(255, 234, 9, 0.25);
}

::-webkit-scrollbar{
	display: none;
}


/*Verschillende letters */
span.title-word{
	letter-spacing: 0px;
	font-size: 2em;
	text-shadow: 3px 2px 1px black;
}
	.title-word {
	animation: color-animation 4s linear infinite;
	}

	.title-word-1 {
	--color-1: #DF8453;
	--color-2: #3D8DAE;
	--color-3: #C264F4;
	}

	.title-word-2 {
	--color-1: #DBAD4A;
	--color-2: #ACCFCB;
	--color-3: #EA9624;
	}

	.title-word-3 {
	--color-1: #ACCFCB;
	--color-2: #E4A9A8;
	--color-3: #647AF4;
	}

	.title-word-4 {
	--color-1: #3D8DAE;
	--color-2: #DF8453;
	--color-3: #F4648B;
	}


	@keyframes color-animation {
	0%    {color: var(--color-1)}
	32%   {color: var(--color-1)}
	33%   {color: var(--color-2)}
	65%   {color: var(--color-2)}
	66%   {color: var(--color-3)}
	99%   {color: var(--color-3)}
	100%  {color: var(--color-1)}
	}



.text{
	max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.slide.one .information{
	text-align: center;
}

.slide.two  .square-img{
	height: 70vh;
	width: 40%;
	flex-direction: 50% 0 0;
	background: green;
}
.slide.two img{
	object-fit: cover;
  height: 100%;
  width: 100%;
}

.slide.two .information{
	flex: 30% 0 0;
	margin: 2em;
	height: auto;
	background: red;
	vertical-align: bottom;
}
.slide.two .information p{
	background: green;
}


.slide.three .grid-template,
.slide.four .grid-template{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 1em;
	border: 1px solid red;
	background: pink;
	height: 90vh;
}
.slide.four .grid-template{
	padding-left: 1em;
}


.slide.three .information{
	grid-row: 2;
	grid-column: 2/span 1;
	border: 1px solid green;
}


.slide.three img,
.slide.four img{
		object-fit: cover;
  height: 100%;
  width: 100%;
}
.slide.three img.one{
	grid-row: 1;
	grid-column: 3/span 1;
	border: 1px solid green;
}
.slide.three img.two{
	grid-row: 2;
	grid-column: 2/span 1;
	border: 1px solid green;
}
.slide.three img.three{
	grid-row: 2;
	grid-column: 3/span 1;
	border: 1px solid green;
}
.slide.three img.five{
	grid-row: 3;
	grid-column: 1/span 1;
	border: 1px solid green;
}
.slide.three img.six{
	grid-row: 3;
	grid-column: 2/span 1;
	border: 1px solid green;
}
.slide.three img.seven{
	grid-row: 3;
	grid-column: 3/span 1;
	border: 1px solid green;
}


.slide.four p.first{
	grid-row: 1;
	grid-column: 1/span 1;
	border: 1px solid green;
}
.slide.four p{
	grid-row: 2;
	grid-column: 2/span 2;
	border: 1px solid green;
}
.slide.four img.four{
	grid-row: 2;
	grid-column: 1/span 1;
	border: 1px solid green;
}
.slide.four img.eight{
	grid-row: 3;
	grid-column: 1/span 1;
	border: 1px solid green;
}
.slide.four img.nine{
	grid-row: 3;
	grid-column: 2/span 1;
	border: 1px solid green;
}
